<section class="w-100 footer">
  <!-- Footer -->
  <footer class="text-center">
    <!-- Grid container -->
    <div class="footerb py-4">
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">LOCATION</h5>
            <br />
            <p>2215 John Daniel Drive Clark, MO 65243</p>
          </div>
          <!--Grid column-->

          <!--Grid column-->

          <div class="col-md-4 mb-4 mb-md-0">
            <h5 class="text-uppercase">AROUND THE WEB</h5>
            <!-- Section: Social media -->
            <div class="container pt-4">
              <section class="mb-4">
                <!-- Facebook -->
                <a
                  data-mdb-ripple-init
                  class="btn btn-link btn-floating btn-lg text-white m-1"
                  href="#!"
                  role="button"
                  ><i class="fab fa-facebook-f"></i
                ></a>

                <!-- Twitter -->
                <a
                  data-mdb-ripple-init
                  class="btn btn-link btn-floating btn-lg text-white m-1"
                  href="#!"
                  role="button"
                  ><i class="fab fa-twitter"></i
                ></a>

                <!-- Linkedin -->
                <a
                  data-mdb-ripple-init
                  class="btn btn-link btn-floating btn-lg text-white m-1"
                  href="#!"
                  role="button"
                  ><i class="fab fa-linkedin"></i
                ></a>
                <!-- Github -->
                <a
                  data-mdb-ripple-init
                  class="btn btn-link btn-floating text-white btn-lg m-1"
                  href="#!"
                  role="button"
                  ><i class="fa-solid fa-globe fa-xl"></i
                ></a>
              </section>
              <!-- Section: Social media -->
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-4 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0">ABOUT FREELANCER</h5>
            <br />

            <p>
              Freelance is a free to use, licensed Bootstrap theme created by
              Route
            </p>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="footerc py-3">
      <div class="text-center p-3">
        <p>Copyright © Your Website 2021</p>
      </div>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
