<section class="about">
  <div
    class="container about d-flex justify-content-center align-items-center py-5"
  >
    <div class="text-center py-5">
      <h2>ABOUT COMPONENT</h2>
      <br />
      <span> <i class="fa-solid fa-star fa-xl"></i> </span>
      <br />
      <div class="row my-5">
        <div class="col-md-6 px-5">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </div>
        <div class="col-md-6 px-5">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </div>
      </div>
    </div>
  </div>
</section>
