<section
  class="home mt-5 py-5 d-flex justify-content-center align-items-center"
>
  <div class="container">
    <div class="row py-5">
      <div
        class="col-md-12 d-flex justify-content-center flex-column align-items-center"
      >
        <img src="./assets/image/avataaars.svg" class="w-25" alt="" />
        <br />

        <h2>START FRAMEWORK</h2>
        <br />

        <span> <i class="fa-solid fa-star fa-xl"></i> </span>
        <br />
        <p>Graphic Artist - Web Designer - Illustrator</p>
      </div>
    </div>
  </div>
</section>
